<main class="container">
    <section class="hero">
        <div class="hero-content text-center">
        <h2>Sobre Nós</h2>
        <p class="lead">A TuxAdvogados é uma empresa imaginária que foi criada para um trabalho acadêmico do curso de Desenvolvimento Web do Senac Marechal Floriano. O objetivo do trabalho é desenvolver uma página web usando o Angular, um framework que utiliza HTML, CSS e TypeScript para criar aplicações dinâmicas e interativas. A TuxAdvogados oferece serviços jurídicos nas áreas de direito civil, trabalhista, tributário e penal, com profissionais qualificados e experientes.</p>
        </div>
    </section>

    <section class="team">
        <div class="team-content text-center">
        <h2>Criador</h2>
        <div class="team-cards">
            <div class="team-card">
            <img src="https://avatars.githubusercontent.com/u/47064103?v=4" width="100" height="100">
            <p>Michel Lutegar D'Orsi Pereira</p>
            <p class="lead">Estudante de Engenharia da Computação no IBMEC e técnico de informática pelo SENAC.</p>
            </div>
        </div>
        </div>
    </section>
    </main>