<div class="container">
    <h1>Formulário de contato</h1>
    <form (ngSubmit)="form(formulario)" #formulario="ngForm">
        <div class="form-group">
            <label for="url_foto">URL da foto:</label>
            <input type="text" class="form-control" id="url_foto" name="url_foto" ngModel>
        </div>
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" required ngModel>
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" class="form-control" id="email" name="email" ngModel>
        </div>
        <div class="form-group mb-3">
            <label for="telefone">Telefone:</label>
            <input type="tel" class="form-control" id="telefone" name="telefone" ngModel>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary mr-3">Enviar</button>
            <button type="reset" class="btn btn-secondary">Limpar</button>
        </div>
    </form>
</div>