<div class="container">
    <h1>Formulário de atualização</h1>

    <form [formGroup]="updateForm" (submit)="atualizar()">
        <div class="form-group">
            <label for="url_foto">URL da foto:</label>
            <input type="text" class="form-control" id="url_foto" placeholder="Informe a url da foto" formControlName="url_foto">
        </div>
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" placeholder="Informe o seu nome" formControlName="nome">
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="text" class="form-control" id="email" placeholder="Informe o seu email" formControlName="email">
        </div>
        <div class="form-group mb-3">
            <label for="telefone">Telefone:</label>
            <input type="text" class="form-control" id="telefone" placeholder="Informe o seu telefone" formControlName="telefone">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary mr-3">Enviar</button>
        </div>
    </form>
</div>
