<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let cliente of clientes">
      <div class="card">
        <img [src]="cliente.url_foto" [alt]="cliente.nome" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ cliente.nome }}</h5>
          <p class="card-text">{{ cliente.email }}</p>
          <p class="card-text">{{ cliente.telefone }}</p>
          <button class="btn btn-danger btn-block" (click)="excluir(cliente.id)"> Excluir </button>
          <button class="btn btn-success btn-block" [routerLink]="['/update', cliente.id]"> Editar </button>
        </div>
      </div>
    </div>
  </div>
</div>
